apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-catalog
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-catalog
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-catalog
    app.kubernetes.io/managed-by: model-registry-operator
  annotations:
    {{- if .Spec.KubeRBACProxy}}
    service.beta.openshift.io/serving-cert-secret-name: {{.Name}}-kube-rbac-proxy
    routing.opendatahub.io/external-address-rest: {{.Name}}.{{.Spec.KubeRBACProxy.Domain}}:{{.Spec.KubeRBACProxy.RoutePort}}
    {{- end}}
spec:
  ports:
    {{- if .Spec.KubeRBACProxy}}
    - name: https-api
      port: {{.Spec.KubeRBACProxy.Port}}
      protocol: TCP
      appProtocol: https
    {{- else }}
    - name: http-api
      port: {{.Spec.Rest.Port}}
      protocol: TCP
      appProtocol: http
    {{ end }}
  selector:
    app: {{.Name}}
    component: model-catalog
    app.kubernetes.io/name: {{.Name}}
