apiVersion: v1
kind: ConfigMap
metadata:
  name: "model-catalog-sources"
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-catalog
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-catalog
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
data:
  sources.yaml: |-
    catalogs:
      - name: Default Catalog
        id: default_catalog
        type: yaml
        properties:
          yamlCatalogPath: /shared-data/default-catalog.yaml
