apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{.Name}}-http{{ if .Spec.OAuthProxy }}s{{ end }}
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-catalog
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}-https
    app.kubernetes.io/component: model-catalog
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
spec:
  to:
    kind: Service
    name: {{.Name}}
  {{- if .Spec.OAuthProxy}}
  host: {{.Name}}.{{.Spec.OAuthProxy.Domain}}
  port:
    targetPort: https-api
  tls:
    termination: reencrypt
  wildcardPolicy: None
  {{- else }}
  port:
    targetPort: http-api
  {{ end }}
