apiVersion: v1
kind: ConfigMap
metadata:
  name: "model-catalog-default-sources"
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-catalog
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-catalog
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-catalog
    app.kubernetes.io/managed-by: model-registry-operator
data:
  sources.yaml: |-
    catalogs:
      - name: Red Hat AI
        id: redhat_ai_models
        enabled: true
        type: yaml
        properties:
          yamlCatalogPath: /shared-data/models-catalog.yaml
        labels:
          - Red Hat AI
      - name: Red Hat AI validated
        id: redhat_ai_validated_models
        enabled: true
        type: yaml
        properties:
          yamlCatalogPath: /shared-data/validated-models-catalog.yaml
        labels:
          - Red Hat AI validated
    labels:
      - name: Red Hat AI validated
        description: Third-party models with performance and compatibility verified by Red Hat.
      - name: Red Hat AI
        description: Red Hat models with full support and legal indemnification.
      - name: null
        displayName: Community and custom
        description: A broad collection of third-party, community, and admin-configured models.
    namedQueries:
      default-performance-filters:
        "artifacts.use_case.string_value":
          operator: "="
          value: chatbot
        "artifacts.requests_per_second.double_value":
          operator: "<="
          value: 1
        "artifacts.ttft_p90.double_value":
          operator: "<="
          value: max
