apiVersion: v1
kind: Secret
metadata:
  name: {{.Name}}-postgres
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}-postgres
    component: model-catalog-postgres
    app.kubernetes.io/name: {{.Name}}-postgres
    app.kubernetes.io/instance: {{.Name}}-postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-catalog
    app.kubernetes.io/managed-by: model-registry-operator
  annotations:
    template.openshift.io/expose-database_name: '{.data[''database-name'']}'
    template.openshift.io/expose-password: '{.data[''database-password'']}'
    template.openshift.io/expose-username: '{.data[''database-user'']}'
data:
  database-name: "{{.PostgresDatabase | b64enc }}"
  database-password: "{{.PostgresPassword | b64enc }}"
  database-user: "{{.PostgresUser | b64enc }}"
