apiVersion: v1
kind: ConfigMap
metadata:
  name: "default-catalog"
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-registry
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-registry
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
data:
  default-catalog.yaml: |-
    catalogs:
      - name: Default Catalog
        id: default_catalog
        type: yaml
        enabled: true
        properties:
          yamlCatalogPath: /default-catalog.yaml