apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{.Name}}-http
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-registry
spec:
  to:
    kind: Service
    name: {{.Name}}
  port:
    targetPort: http-api
