apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}-postgres
  namespace: {{.Namespace}}
spec:
  selector:
    app: {{.Name}}-postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432 