apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.Name}}-postgres-storage
  namespace: {{.Namespace}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi 