apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-registry-rest-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: model-registry-rest-{{.Name}}
    component: model-registry
    registry: {{.Name}}
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: model-registry-rest-{{.Name}}
      component: model-registry
      registry: {{.Name}}
  template:
    metadata:
      labels:
        app: model-registry-rest-{{.Name}}
        component: model-registry
        registry: {{.Name}}
    spec:
      containers:
        - args:
            - --hostname=0.0.0.0
            - --port={{.Spec.Rest.Port}}
            #- --mlmd-hostname=model-registry-grpc-{{.Name}}
            #- --mlmd-port={{.Spec.Grpc.Port}}
          command:
            - /model-registry
            - proxy
          image: {{.Spec.Rest.Image}}
          name: container
          ports:
            - containerPort: {{.Spec.Rest.Port}}
              name: rest-api
          livenessProbe:
            initialDelaySeconds: 30
            periodSeconds: 5
            tcpSocket:
              port: rest-api
            timeoutSeconds: 2
          readinessProbe:
            initialDelaySeconds: 3
            periodSeconds: 5
            tcpSocket:
              port: rest-api
            timeoutSeconds: 2
          resources:
            {{- if .Spec.Rest.Resources.Requests }}
            requests:
              cpu: {{.Spec.Rest.Resources.Requests.Cpu}}
              memory: {{.Spec.Rest.Resources.Requests.Memory}}
            {{- end }}
            {{- if .Spec.Rest.Resources.Limits }}
            limits:
              cpu: {{.Spec.Rest.Resources.Limits.Cpu}}
              memory: {{.Spec.Rest.Resources.Limits.Memory}}
            {{- end }}
      serviceAccountName: model-registry-rest-{{.Name}}
