apiVersion: v1
kind: ServiceAccount
metadata:
  name: model-registry-rest-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: model-registry-rest-{{.Name}}
    component: model-registry
    registry: {{.Name}}
