apiVersion: authorino.kuadrant.io/v1beta2
kind: AuthConfig
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
  labels:
    {{- with .Spec.Istio.AuthConfigLabels}}
    {{- range $key, $value := .}}
    {{$key}}: {{$value}}
    {{- end}}
    {{- end}}
    app: {{.Name}}
    component: model-registry
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-registry
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
spec:
  authentication:
    cluster-users:
      credentials:
        authorizationHeader: { }
      kubernetesTokenReview:
        audiences:
          {{- with .Spec.Istio.Audiences}}
          {{- range .}}
          - {{.}}
          {{- end}}
          {{- else}}
          - https://kubernetes.default.svc
          {{- end}}
  authorization:
    k8s-rbac:
      kubernetesSubjectAccessReview:
        user:
          selector: auth.identity.user.username
        groups:
          - {{.Name}}-users
        resourceAttributes:
          verb:
            value: get
          group:
            value: ""
          resource:
            value: services
          namespace:
            value: {{.Namespace}}
          name:
            value: {{.Name}}
  hosts:
    {{- if and .Spec.Istio.Gateway .Spec.Istio.Gateway.Domain}}
    - {{.Name}}-rest.{{.Spec.Istio.Gateway.Domain}}
    - {{.Name}}-grpc.{{.Spec.Istio.Gateway.Domain}}
    {{- end}}
    - {{.Name}}.{{.Namespace}}.svc.cluster.local
    - {{.Name}}.{{.Namespace}}
    - {{.Name}}
