apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
  annotations:
    maistra.io/manageRoute: "true"
  labels:
    app: {{.Name}}
    component: model-registry
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-registry
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
spec:
  # The selector matches the ingress gateway pod labels.
  # If you installed Istio using Helm following the standard documentation, this would be "istio=ingress"
  # ingressgateway for istio default controller
  selector:
    istio: {{.Spec.Istio.Gateway.IstioIngress}}
    {{- with .Spec.Istio.Gateway.ControlPlane}}
    istio.io/rev: {{.}}
    {{- end}}
  servers:
  - port:
      number: {{.Spec.Istio.Gateway.Rest.Port}}
      name: rest
      protocol: {{with .Spec.Istio.Gateway.Rest.TLS}}HTTPS{{- else}}HTTP{{- end}}
    hosts:
    - {{.Name}}-rest.{{.Spec.Istio.Gateway.Domain}}
    name: {{.Name}}-rest-server
    {{- with .Spec.Istio.Gateway.Rest.TLS}}{{- template "server-tls-settings" .}}{{- end}}
  - port:
      number: {{.Spec.Istio.Gateway.Grpc.Port}}
      name: grpc
      protocol: {{with .Spec.Istio.Gateway.Grpc.TLS}}HTTPS{{- else}}GRPC{{- end}}
    hosts:
    - {{.Name}}-grpc.{{.Spec.Istio.Gateway.Domain}}
    name: {{.Name}}-grpc-server
    {{- with .Spec.Istio.Gateway.Grpc.TLS}}{{- template "server-tls-settings" .}}{{- end}}
{{- define "server-tls-settings"}}
    tls:
      mode: {{.Mode}}
      {{- with .CredentialName}}
      credentialName: {{.}}
      {{- end}}
{{- end}}