apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    maistra.io/original-host: {{.Host}}.{{.Spec.Istio.Gateway.Domain}}
  labels:
    app: {{.Name}}
    component: model-registry
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-registry
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
    maistra.io/gateway-name: {{.Name}}
    maistra.io/gateway-namespace: {{.Namespace}}
  name: {{.Namespace}}-{{.Host}}
  namespace: {{.IngressService.Namespace}}
spec:
  host: {{.Host}}.{{.Spec.Istio.Gateway.Domain}}
  port:
    targetPort: {{with .TLS}}https{{else}}http2{{end}}
  {{- with .TLS}}
  tls:
    termination: passthrough
  {{- end}}
  to:
    kind: Service
    name: {{.IngressService.Name}}
    weight: 100
  wildcardPolicy: None
