apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: {{.Name}}
    component: model-registry
    app.kubernetes.io/name: {{.Name}}
    app.kubernetes.io/instance: {{.Name}}
    app.kubernetes.io/component: model-registry
    app.kubernetes.io/created-by: model-registry-operator
    app.kubernetes.io/part-of: model-registry
    app.kubernetes.io/managed-by: model-registry-operator
spec:
  gateways:
  - {{.Name}}
  hosts:
  - {{.Name}}
  {{- if and .Spec.Istio.Gateway .Spec.Istio.Gateway.Domain}}
  - {{.Name}}-rest.{{.Spec.Istio.Gateway.Domain}}
  - {{.Name}}-grpc.{{.Spec.Istio.Gateway.Domain}}
  {{- end}}
  http:
  - match:
    - headers:
        :authority:
          regex: {{.Name}}(\..*)?:{{.Spec.Rest.Port}}
    route:
    - destination:
        host: {{.Name}}
        port:
          number: {{.Spec.Rest.Port}}
  - match:
    - headers:
        :authority:
          regex: {{.Name}}(\..*)?:{{.Spec.Grpc.Port}}
    route:
    - destination:
        host: {{.Name}}
        port:
          number: {{.Spec.Grpc.Port}}
  {{- if and .Spec.Istio.Gateway .Spec.Istio.Gateway.Domain}}
  - match:
    - headers:
        :authority:
          regex: {{.Name}}-rest.{{.Spec.Istio.Gateway.Domain}}(:{{.Spec.Istio.Gateway.Rest.Port}})?
    route:
    - destination:
        host: {{.Name}}
        port:
          number: {{.Spec.Rest.Port}}
  - match:
    - headers:
        :authority:
          regex: {{.Name}}-grpc.{{.Spec.Istio.Gateway.Domain}}(:{{.Spec.Istio.Gateway.Grpc.Port}})?
    route:
    - destination:
        host: {{.Name}}
        port:
          number: {{.Spec.Grpc.Port}}
  {{- end}}
